<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    {{!-- <link rel="stylesheet" href="/css/waiter_selection.css">
    <link rel="stylesheet" href="/css/waiter_availability.css"> --}}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Waiters App</title>
</head>

<body>
    <div>
        {{{body}}}
    </div>
</body>

   {{!-- <div class="success">{{messages.success}}</div>
    <div class="warning">{{messages.warning}}</div>
    <div class="error">{{messages.error}}</div>
<script>



    clearButton.addEventListener("click", function () {
        if (confirm("Your data will be permanently deleted")) {
            logic.resetDaysForNewWeek();
        }
    });


    if (success) {
        setTimeout(function () {
            success.innerText = '';
        }, 3000);

    }

    if (warning) {
        setTimeout(function () {
            warning.innerText = '';
        }, 3000);

    }

    if (error) {
        setTimeout(function () {
            error.innerText = '';
        }, 3000);

    }

</script> --}}


</html>