<div class="loginbox">
  <img src="/img/avatar.png" alt="" class="avatar" width="100">
  <h1>Login Here</h1>
  <form action="/" method="post">
    <p>Username</p>
    <input type="text" name="" placeholder="Enter Username">
    <p>Password</p>
    <input type="password" name="" placeholder="Enter Password">
    <br>
    <input type="submit" name="" value="Login">
  </form>
</div>