<div class="signUpImage">
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form id="signupForm" action="/signup" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
            <br>
            <p>Already have an account?<a href="/">Login</a></p>
        </form>


        <div class="successMessage">
            {{#if messages.success}}
            <div class="success">
                <p class="messages" style="color: rgb(8, 156, 42);">{{messages.success}}</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        const successDiv = document.querySelector('.successMessage');
        if (successDiv) {
            successDiv.style.display = 'none';
        }
    }, 5000);
</script>