<h1>Waiter Availability</h1>
<form action="/days" method="post">

  <ul>
    {{#each waiterAvailability}}
    <li>{{username}} is available on: {{selectedDays}}</li>
    {{/each}}
  </ul>

  {{!-- <button type="submit">Confirm</button> --}}
  <button type="submit">Reset</button>
</form>