<h1>Waiter Availability</h1>
<form action="/days" method="post">

  <ul>
    {{#each templateData}}
    <li>{{this.waiter_name}} is available on: {{day_name}}</li>
    {{/each}}
  </ul>

 
  <button type="submit">Reset</button>
</form>