/**************************************************admin page***************************************************/
/* CSS for the table */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* CSS for the button */
button[type="submit"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgba(196, 164, 132);
  color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgba(192, 189, 189, 0.945);
}

/* CSS for the headings */
h1 {
  text-align: center;
}

/* CSS for the colored classes */
.orange {
 background-color: orange;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/*legend styling*/
.legend{
  position: fixed;
  bottom: 140px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.legend h4{
  position: fixed;
  bottom: 200px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-text {
  font-size: 14px;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  table {
    width: 100%;
  }
}

/* For responsiveness */
@media only screen and (max-width: 600px) {
  .legend{
    flex-direction: column;
    left: 10px;
    bottom: 10px;
  }
  .legend-item{
    margin-bottom: 10px;
  }

  .legend h4{
    flex-direction: column;
    left: 10px;
    bottom: 90px;
  }

}