/**************************************************Day selection page***************************************************/

/* Style the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}
 
.daysPage {
    display: inline-block;
    width: 320px;
    height: 420px;
    background: transparent;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgb(229, 227, 227);
    color: #0f0f0f;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 60px;
}
/* Style the checkboxes */
input[type="checkbox"] {
    margin-right: 10px;
}

/*form*/

.daysPage form {
    display: inline-block;
    margin-right: 10px;
}

/* Style the submit button */
.daysPage button[type="submit"] {
    background-color: rgba(196, 164, 132);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
  
}

/* Style the submit button on hover */
.daysPage button[type="submit"]:hover {
    background-color: 	rgba(192, 189, 189, 0.945);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .daysPage {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .daysPage {
        padding: 10px;
    }
}